// Main Footer
footer.main-footer
    // To the right
    .pull-right.hidden-xs
        | We make your English great again
    // Default to the left
    strong
        | Copyright © 2017
        a(href='#') English Courses
        | .
    |  All rights reserved.