// REQUIRED JS SCRIPTS
// jQuery 2.2.3
script(src='js/jquery/jquery-min.js')
// Bootstrap 3.3.6
script(src='bootstrap/js/bootstrap-min.js')
//Data tables
script(src='js/jquery.dataTables.min.js')
script(src='js/dataTables.bootstrap.min.js')
// AdminLTE App
script(src='js/app-min.js')
//Chart JS
//script(src='../node_modules/chart.js/dist/Chart.bundle.js')
//Area Chart Group
//script(src='js/area-chart-group.js')
script(src='js/data-table-action.js')