.white-link {
    color: #fff;
}

.add-new {
    margin: 25px 0 10px 110px;
}

.edit-one {
    margin: 25px 0 10px 140px;
}

.box-body p span {
    margin-right: 10px;
}

.login-page {
    background: url(https://i.ytimg.com/vi/iTBfKfLfmyw/maxresdefault.jpg) no-repeat;
    background-size: cover;
}

.widget-user-2 {
    margin-left: 5px;
    padding-top: 17px;
}

.group-level-header {
    font-size: 60px;
    margin-top: 0;
}