extends layouts/main
block content
    .content-wrapper
        section.content-header
            h1 Awards
        section.content
            .col-md-8
                .box.box-solid.box-primary
                    .box-header.with-border
                        h3.box-title Payments by award
                    .box-body
                        table.table.table-bordered
                            tr
                                th(style='width: 20px') id
                                th Name
                                th Teacher's name
                                th Amount
                                th Date of award
                            tr
                                td 3
                                td Best Teacher
                                td Kalye Jenner
                                td $150
                                td 25/02/2017
                            tr
                                td 4
                                td Teacher of the year
                                td Joanna Gold
                                td $180
                                td 25/02/2017
                            tr
                                td 5
                                td Teacher of the year
                                td Megan Smith
                                td $170
                                td 25/02/2017
                            tr
                                td 7
                                td Teacher of the year
                                td Brit Marx
                                td $180
                                td 25/02/2017
                    .box-footer.clearfix
