extends layouts/main
block content
    .content-wrapper
        section.content-header.row
            .col-md-3
                h1 Current groups
            .col-md-2.col-md-offset-7
                a.btn.btn-primary.add-new.white-link(href='current-group-add-new.html')
                    i.fa.fa-plus
                    |  Add new group
        section.content
            .row
                .col-md-4
                    .box.box-widget.widget-user-2
                        .widget-user-header.bg-blue
                            .row
                                .col-md-1
                                    h2.group-level-header A2
                                .col-md-10
                                    a.white-link(href='current-groups-single.html')
                                        h3.widget-user-username Kids Group
                        .box-footer.no-padding
                            ul.nav.nav-stacked
                                li
                                    a(href='#')
                                        | Students
                                        span.pull-right.badge.bg-blue 7
                                li
                                    a(href='#')
                                        | Start Date
                                        span.pull-right.badge.bg-green 21/01/2017
                                li
                                    a(href='#')
                                        | End Date
                                        span.pull-right.badge.bg-green 17/04/2017
                                li
                                    a(href='#')
                                        | Average score
                                        span.pull-right.badge.bg-red 78.5
                .col-md-4
                    .box.box-widget.widget-user-2
                        .widget-user-header.bg-blue
                            .row
                                .col-md-1
                                    h2.group-level-header B1
                                .col-md-10
                                    a.white-link(href='current-groups-single.html')
                                        h3.widget-user-username Speaking club
                        .box-footer.no-padding
                            ul.nav.nav-stacked
                                li
                                    a(href='#')
                                        | Students
                                        span.pull-right.badge.bg-blue 7
                                li
                                    a(href='#')
                                        | Start Date
                                        span.pull-right.badge.bg-green 21/01/2017
                                li
                                    a(href='#')
                                        | End Date
                                        span.pull-right.badge.bg-green 17/04/2017
                                li
                                    a(href='#')
                                        | Average score
                                        span.pull-right.badge.bg-red 78.5
                .col-md-4
                    .box.box-widget.widget-user-2
                        .widget-user-header.bg-blue
                            .row
                                .col-md-1
                                    h2.group-level-header A1
                                .col-md-10
                                    a.white-link(href='current-groups-single.html')
                                        h3.widget-user-username Kids Group
                        .box-footer.no-padding
                            ul.nav.nav-stacked
                                li
                                    a(href='#')
                                        | Students
                                        span.pull-right.badge.bg-blue 7
                                li
                                    a(href='#')
                                        | Start Date
                                        span.pull-right.badge.bg-green 21/01/2017
                                li
                                    a(href='#')
                                        | End Date
                                        span.pull-right.badge.bg-green 17/04/2017
                                li
                                    a(href='#')
                                        | Average score
                                        span.pull-right.badge.bg-red 78.5