extends layouts/main
block content
    // Content Wrapper. Contains page content
    .content-wrapper
        // Content Header (Page header)
        section.content-header
            h1
                | Welcome to English courses dashboard
                small Optional description
            ol.breadcrumb
                li
                    a(href='#')
                        i.fa.fa-dashboard
                        |  Level
                li.active Here
        // Main content
        section.content
            // Your Page Content Here
            h2 Section Content of a page goes here
        // /.content
    // /.content-wrapper
