extends layouts/main
block content
    .content-wrapper
        section.content-header
            h1
                | Welcome to English courses dashboard
                small Optional description
            ol.breadcrumb
                li
                    a(href='#')
                        i.fa.fa-dashboard
                        |  Level
                li.active Here
        section.content.row
            .col-md-3.col-xs-6
                .small-box.bg-green
                    .inner
                        h3 8
                        p Current Courses
                    .icon
                        i.fa.fa-graduation-cap
                    a.small-box-footer(href='current-groups.html')
                        | More info
                        i.fa.fa-arrow-circle-right
            .col-md-3.col-xs-6
                .small-box.bg-green
                    .inner
                        h3 85
                        p Students
                    .icon
                        i.fa.fa-users
                    a.small-box-footer(href='current-groups.html')
                        | More info
                        i.fa.fa-arrow-circle-right
            .col-md-3.col-xs-6
                .small-box.bg-green
                    .inner
                        h3 7
                        p Teachers
                    .icon
                        i.fa.fa-user
                    a.small-box-footer(href='teachers.html')
                        | More info
                        i.fa.fa-arrow-circle-right
            .col-md-3.col-xs-6
                .small-box.bg-green
                    .inner
                        h3 $ 1200
                        p Income in April 2017
                    .icon
                        i.fa.fa-bank
                    a.small-box-footer(href='payments-incoming.html')
                        | More info
                        i.fa.fa-arrow-circle-right
