extends layouts/main
block content
    .content-wrapper
        section.content-header
            h1 Knowledge Single Group
        section.content
            .col-md-12
                h2 A1 Kids Beginner
            .col-md-6
                table.table.table-bordered
                    tr
                        td Level
                        td A1
                    tr
                        td Category
                        td Kids beginner
                    tr
                        td Requirements
                        td Requirements
                    tr
                        td Description
                        td Description
                    tr
                        td Fee
                        td $50
