extends layouts/main
block content
    .content-wrapper
        section.content-header
            h1 Outgoing Payments
        section.content
            .row
                .col-md-8
                    .box.box-solid.box-primary
                        .box-header.with-border
                            h3.box-title Payments by teacher
                        .box-body
                            table.table.table-bordered
                                tr
                                    th(style='width: 10px') id
                                    th Name
                                    th Period
                                    th(style='width: 40px') Amount
                                    th Date of payment
                                tr
                                    td 3
                                    td Kalye Jenner
                                    td February 2017
                                    td $150
                                    td 25/02/2017
                                tr
                                    td 4
                                    td Joanna Gold
                                    td February 2017
                                    td $180
                                    td 25/02/2017
                                tr
                                    td 5
                                    td Megan Smith
                                    td February 2017
                                    td $170
                                    td 25/02/2017
                                tr
                                    td 7
                                    td Brit Marx
                                    td February 2017
                                    td $180
                                    td 25/02/2017
                        .box-footer.clearfix
