extends layouts/main
block content
    .content-wrapper
        section.content-header
            h1 Students
            ol.breadcrumb
                li
                    a(href='#')
                        i.fa.fa-dashboard
                        |  Home
                li
                    a(href='#') Examples
                li.active User profile
        section.content
            .col-md-12
                .box.box-solid.box-primary
                    .box-header
                        h3.box-title Students list
                    .box-body
                        table#students_list.table.table-bordered.table-striped
                            thead
                                tr
                                    th Student id
                                    th Name
                                    th Group
                                    th Department
                                    th Date of join
                            tbody
                                tr
                                    td 2
                                    td
                                        a(href='students-single.html')
                                            p Nadia Carmichael
                                    td A2 Beginner
                                    td English
                                    td 12/04/2017
                                tr
                                    td 3
                                    td
                                        a(href='students-single.html')
                                            p Gabriella Mziri
                                    td A2 Beginner
                                    td German
                                    td 12/04/2017
                                tr
                                    td 4
                                    td
                                        a(href='students-single.html')
                                            p Bob Rocks
                                    td A1 Beginner
                                    td French
                                    td 12/04/2017
                                tr
                                    td 5
                                    td
                                        a(href='students-single.html')
                                            p Ajshvarija ray
                                    td A2 Beginner
                                    td English
                                    td 12/04/2017
