extends layouts/main
block content
    .content-wrapper
        section.content-header
            h1 Students
            ol.breadcrumb
                li
                    a(href='#')
                        i.fa.fa-dashboard
                        |  Home
                li
                    a(href='#') Examples
                li.active User profile
        section.content
            .row
                .col-md-3
                    .box.box-widget.widget-user-2
                        .widget-user-header.bg-blue
                            .widget-user-image
                                img.img-circle(src='img/user1-128x128.jpg', alt='User Avatar')
                            a.white-link(href='students-single.html')
                                h3.widget-user-username Nadia Carmichael
                            h5.widget-user-desc A1 Adult group
                .col-md-3
                    .box.box-widget.widget-user-2
                        .widget-user-header.bg-blue
                            .widget-user-image
                                img.img-circle(src='img/user5-128x128.jpg', alt='User Avatar')
                            a.white-link(href='students-single.html')
                                h3.widget-user-username Nadia Carmichael
                            h5.widget-user-desc B1 Speaking club
                .col-md-3
                    .box.box-widget.widget-user-2
                        .widget-user-header.bg-blue
                            .widget-user-image
                                img.img-circle(src='img/user3-128x128.jpg', alt='User Avatar')
                            a.white-link(href='students-single.html')
                                h3.widget-user-username Nadia Carmichael
                            h5.widget-user-desc A2 Kids Group
                .col-md-3
                    .box.box-widget.widget-user-2
                        .widget-user-header.bg-blue
                            .widget-user-image
                                img.img-circle(src='img/user4-128x128.jpg', alt='User Avatar')
                            a.white-link(href='students-single.html')
                                h3.widget-user-username Nadia Carmichael
                            h5.widget-user-desc A1 Kids Group
