doctype html
html
    include includes/head
    body.hold-transition.login-page
        .login-box
            .login-logo
                a(href='index.html')
                    b English courses
            .login-box-body
                p.login-box-msg Sign in to start your session
                form(action='../../index2.html', method='post')
                    .form-group.has-feedback
                        input.form-control(type='email', placeholder='Email')
                        span.glyphicon.glyphicon-envelope.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='password', placeholder='Password')
                        span.glyphicon.glyphicon-lock.form-control-feedback
                    .row
                        .col-md-8
                                label
                                    input(type='checkbox')
                                    |  Remember Me
                        .col-md-4
                            button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
                a(href='#') I forgot my password
                br
                a.text-center(href='register.html') Register a new membership
        include includes/js-scripts
