extends layouts/main
block content
    .content-wrapper
        section.content-header.row
            .col-md-3
                h1 Our teachers
            .col-md-2.col-md-offset-7
                a.btn.btn-success.add-new.white-link(href='teacher-add-new.html')
                    i.fa.fa-plus
                    |  Add new teacher
        section.content
            .row
                .col-md-4
                    .box.box-widget.widget-user
                        .widget-user-header.bg-green-active
                            a.white-link(href='teacher-single.html')
                                h3.widget-user-username Elma Wild
                            h5.widget-user-desc Junior English Teacher
                        .widget-user-image
                            img.img-circle(src='img/user1-128x128.jpg', alt='User Avatar')
                        .box-footer
                            .row
                                .col-sm-4.border-right
                                    .description-block
                                        h5.description-header 2
                                        span.description-text Groups
                                .col-sm-4.border-right
                                    .description-block
                                        h5.description-header 25
                                        span.description-text Students
                                .col-sm-4
                                    .description-block
                                        h5.description-header 2
                                        span.description-text Months working
                .col-md-4
                    .box.box-widget.widget-user
                        .widget-user-header.bg-green-active
                            h3.widget-user-username Patricia Green
                            h5.widget-user-desc Middle English Teacher
                        .widget-user-image
                            img.img-circle(src='img/user1-128x128.jpg', alt='User Avatar')
                        .box-footer
                            .row
                                .col-sm-4.border-right
                                    .description-block
                                        h5.description-header 3
                                        span.description-text Groups
                                .col-sm-4.border-right
                                    .description-block
                                        h5.description-header 36
                                        span.description-text Students
                                .col-sm-4
                                    .description-block
                                        h5.description-header 15
                                        span.description-text Months working
                .col-md-4
                    .box.box-widget.widget-user
                        .widget-user-header.bg-green-active
                            h3.widget-user-username Bellinda Smithers
                            h5.widget-user-desc Senior English Teacher
                        .widget-user-image
                            img.img-circle(src='img/user1-128x128.jpg', alt='User Avatar')
                        .box-footer
                            .row
                                .col-sm-4.border-right
                                    .description-block
                                        h5.description-header 4
                                        span.description-text Groups
                                .col-sm-4.border-right
                                    .description-block
                                        h5.description-header 48
                                        span.description-text Students
                                .col-sm-4
                                    .description-block
                                        h5.description-header 28
                                        span.description-text Months working