doctype html
html
    include ../includes/head
    body.hold-transition.skin-blue.sidebar-mini
            .wrapper
                include ../includes/main-header
                include ../includes/js-scripts
                include ../includes/navbar-left
                block content
                include ../includes/footer
                include ../includes/control-sidebar
